
.balloon {
    box-sizing: border-box;
    height: 32px;
    min-width: 120px;
    background-color: #2c2c2c;
    border-radius: 15px;
    padding-inline: 16px;

    display: flex;
    justify-content: center;
    align-items: center; /* alinhamento vertical */

    font-size: 14px;
    color: #ccc;
}

.justify {
    justify-content: left;
}

@media screen and (max-width: 1200px) {
  .effect {
    transition: 0.3s ease-in-out;
  }

  .effect:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Cor de fundo quando estiver em hover */
    color: #000;
  }
}


  
  
